{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home | {% endblock %}

{% block container %}

<div class="page-header">
  <h1>Edit Your Article</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<form method="POST" action="" class="form">
					{% csrf_token %}
					{{form.as_p}}
					<input type="submit" class="btn btn-primary pull-right" value="Post"/>
				</form>
			</div>

			<script type="text/javascript">
				document.getElementById('id_content').setAttribute("class", "form-control");
				document.getElementById('id_title').setAttribute("class", "form-control");
			</script>
		<div class="col-sm-3"></div>
{% endblock %}

{% block script %}
	<script src="{% static 'js/autosize.min.js' %}"></script>
	<script>
    	autosize(document.getElementById('id_content'));
	</script>
{% endblock %}

{% block style %}

{% endblock %}