{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home | {% endblock %}

{% block container %}
<div class="col-md-2">

</div>

<div class="container">
	<div class="col-md-8">
		<div class="row">
			<div class="page-header">
			  <h1>
			  {{article.title}} <small> by {{article.user.username}} at {{article.updated|time}} on {{article.updated|date}}</small>
			  
			{% if user == article.user %}
				<a href="{{article.edit_article_url }}" >
			    		<img class="pull-right" src="{% static 'img/edit.png' %}"/>
			    </a>
			{% endif %}
			  </h1>
			</div>
			<div class="col-md-12">
				{{article.content}}
			</div>
		</div>
	</div>
</div>
<div class="col-md-2">

</div>

{% endblock %}