<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    {% load staticfiles %}
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon.png' %}"/>

    <title>{% block title %}{% endblock %}Publish</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/navbar-fixed-top/navbar-fixed-top.css" rel="stylesheet">

    {% block style %}{% endblock %}
  </head>

  <body style="padding-bottom:100px;padding-top:70px;">

  {% include "navbar.html" %}

  	{% block jumbotron %}{% endblock %}

    <div class="container">

      {% block container %}{% endblock %}

    </div> <!-- /container -->

    {% include "footer.html" %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    {% block script %}{% endblock %}

  </body>
</html>
